/****************************************TYPOGRAPHY ***************************************************/
html {
	font-size: calc(14px + 0.390625vw);
}
body{
	font-family: 'Open Sans', sans-serif;
	color: var(--text-light-color);
	--primary-color: #45B1E8;
	--secondary-color: #59A96A;
	--accent-color: #EEC643;
	--text-white-color: #F6F0ED;
	--text-light-color: #5b5959;
	--text-dark-color: #ebe7e4;
	--bg-dark-transparent-color: #5b5959af;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	color: var(--primary-color);
	font-weight: 600;
	text-transform: uppercase;
}
h1{
	font-size: 3.998rem;
}
h2{
	font-size: 2.827rem;
}
h3{
	font-size: 1.999rem;
}
h4{
	font-size: 1.414rem;
}
p{
	font-size: 1rem;
	color: var(--text-light-color);

}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark a
{
	color: white;
}

.dark p 
{
	color: var(--text-dark-color);
}

.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.707rem;
	text-transform: uppercase;
	font-weight: 600;
	padding:12px 40px;
	box-shadow: 0px 4px 10px 0px rgba(91, 91, 91, 0.45);
	line-height: 1;
	transition: all .5s ease;
	letter-spacing: 1px;
}

.btn-link{
	padding:0;
	box-shadow: none;
}
.icon-on-button{
	margin-left: 8px;
}
.icon-on-button i{
	font-size: 18px;
	vertical-align: middle;
}
.navbar{
	background-color: var(--primary-color);
	border:0px;
	padding-top: 30px;
	padding-bottom: 15px;
	transition: all .5s ease;
}
.navbar-brand{
	padding: 0;
}
.navbar-brand img{
	max-height: 50px;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-white-color);
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: var(--text-white-color);
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover{
	color: var(--primary-color);
}
.navbar-nav>li>a.btn-navbar:hover{
	color: var(--text-white-color);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: var(--text-white-color);
    background-color: transparent;
}
.navbar-nav>li>a.btn-navbar{
	padding-left: 40px;
	padding-right: 40px;
}
.navbar-divider{
	width:100%;
	height: 1px;
	border:0px;
	background-color: rgba(255,255,255,0.1);
	transition: all .5s ease;
}
.colored-nav {
    padding-top: 15px;
    padding-bottom: 15px;
}
.colored-nav .navbar-divider{
	display: none;
}
.cta{
	color: var(--text-white-color);
}
.cta-btn-group{
	margin-top: 15px;
}
.cta-btn-group .btn{
	margin: 10px;
}
.btn-accent.focus, .btn-accent:focus,.btn-accent.active, .btn-accent:active {
    color: var(--text-white-color);
    background-color: var(--primary-color);
    border-color: #122b40;
}
.btn-white.focus, .btn-white:focus,.btn-white.active, .btn-white:active {
    color: var(--text-white-color);
    background-color: var(--accent-color);
    border-color: #122b40;
}
.btn-primary.focus, .btn-primary:focus,.btn-primary.active, .btn-primary:active {
    color: var(--text-white-color);
    background-color: var(--accent-color);
    border-color: #122b40;
}
/*******************************************NAVBAR***************************************************/
.navbar .navbar-container {
	display: flex;
	justify-content: space-between;

}
/*******************************************HEADER***************************************************/
header{
	background-color: #b7b7b7;
	position: relative;
	display: block;
}
/*******************************************SLIDER HOME***************************************************/
.bg-hero {
	background-image: url(../images/Day_With_Car_crop.jpeg); 
	background-color: rgb(44, 44, 44);
	background-position-y: bottom;
	background-position-x: center;
	background-repeat: no-repeat;
    background-size: contain;
	padding-bottom: calc(100vw * .3)
}

@media screen and (min-width: 812px) {
	.bg-hero {
		background-image: url(../images/Day_With_Car.jpg); 
		background-size: cover;
	}
}

@media screen and (min-width: 600px) {
	.bg-hero {
		padding-top: 60px;
	}
}
@media screen and (max-width: 425px) {
	.bg-hero h2 {
		font-size: 2rem;
	}
	.bg-hero p {
		font-size: 1.2rem;
	}
}

.sliding-card-with-bottom-image .image-container img{
	position: relative;
    margin: 0 auto;
    padding-top: 90px;
}
.image-right-slide-bg{
	background-repeat: no-repeat !important;
    background-position-x: 100%!important;
    background-size: auto 100%!important;
    padding: 18rem 0;
}
.slider-para{
	font-size: 1.414rem;
	font-family: 'Montserrat', sans-serif;
}
/*******************************************SLIDER***************************************************/
.slider-content-wraper{
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
	color: var(--text-white-color);
}

/*******************************************FEATURE**************************************************/
/*.feature{
	position: relative;
	overflow:hidden;
}
.feature-right-image{
	position: absolute;
	width: 100%;
	height: 100%;
}*/
.icon-left {
	color: white;
	font-size: 50px;
	padding-top: 10px;
	text-align: center;
}
.feature-wiget{
	padding-top: 15px;
	padding-bottom: 15px;
}
.feature-wiget h4, .feature-wiget i{
	color: white;
}
.feature-wiget i{
	font-size: 36px;
}
.feature-wiget h4{
	text-transform: uppercase;
}
.bottom-line{
	position: relative;
	margin-bottom: 20px;
}

.bottom-line:after{
	content: '';
	position: absolute;
	top: 100%;
	width: 35px;
	height: 2px;
	background-color: var(--accent-color);
	left: 0;
	margin-top: 7px;
	margin-bottom: 5px;
}
/*******************************************CARD*****************************************************/
.card{
	box-shadow: 0px 4px 15px 0px rgba(191, 195, 198, 0.29);
}
.card-title{
	color: #5a5a5a;
	text-transform: initial;
}
.card-block{
	padding:4rem;
}
/*******************************************TESTIMONIAL**********************************************/
.heading-wraper{
	margin-bottom: 120px;
}
.heading-wraper h3{
	color: var(--text-white-color);
	text-transform: uppercase;
}
.heading-wraper .heading-devider{
	margin:0 auto;
	width: 100px;
	height: 2px;
	border:0px;
}
.testimonial-container{
	background-color: var(--text-white-color);
	box-shadow: 0px 8px 21px 0px rgba(26, 31, 66, 0.29);
}
.testimonial-content{
	padding: 2rem 8rem;
    position: relative;
    top: -45px;
    color: #5a5a5a;
    font-weight: 600;
}
.testimonial-speech{
	font-size: 16px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
}
.testimonial-container .client-details{
	position: relative;
	top: -45px;
}
.testimonial-container .client-details img{
	border-radius: 50%;
	margin-bottom: 25px;
}
.client-designation{
	margin-bottom: 0px;
	font-size: 10px;
	text-transform: uppercase;
	color: var(--text-light-color);
	font-family: 'Montserrat', sans-serif;
}
.client-name{
	margin-bottom: 0px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	font-weight: 400;
}
ul.social-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.social-list li{
	margin: 0;
	padding: 0;
	display: inline-block;
}
ul.social-list li a{
	display: block;
    font-size: 2rem;
    padding: 0.2rem;
    color: var(--text-light-color);
}
ul.social-list li a:hover, ul.social-list li a:focus{
	color: #0e153a;
}

.owl-wrapper-outer{
	padding-top: 60px;
	margin-top: -60px;
}
/*******************************************CUSTOMER SUPPORT*****************************************/
.customer-support-content{
	padding-left: 15px;
	padding-right: 15px;
}
/*******************************************SUBSCRIPTION*********************************************/
.sunscription-wraper-outer{
	box-shadow: 0px 8px 21px 0px rgba(191, 195, 198, 0.29);
}
.subscription-wraper h3{
	text-transform: uppercase;
	color: var(--primary-color);
}
.subscription-wraper p{
	color: #5a5a5a;
}

@media (min-width: 768px) {
	.subscription-form .form-group{
		width: 65%;
		margin: 0 auto;
	}
}

.subscription-form .form-control{
	border-radius: 10px;
	margin-bottom: 25px;
	margin-top: 25px;
	height: 40px;
}
.subscription-form textarea.form-control{
	height:auto;
}

.contact-form{
	background-color: #f1f6fa
}

/*******************************************FOOTER***************************************************/
.footer-list-wiget h4{
	color: var(--primary-color);
	text-transform: uppercase;
}
.footer-list-wiget .list-group-item{
	border: 0px;
	background-color: transparent!important;
	padding-left: 0;
	font-family: 'Open Sans', sans-serif;
	color: var(--text-light-color);
}
.footer-devider{
	background-color: rgb(235, 235, 235);
}
.footer-end-line{
	height: 25px;
	background-color: var(--primary-color);
	width: 100%;
	margin: 0;
	padding: 0;

}
.logo-colored,.logo-white{
	display: inline-block;
	vertical-align: middle;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}
.logo-colored img,.logo-white img{
	display: inline-block;
    text-transform: uppercase;
    max-height: 50px;
    margin-right: 10px;

}
.logo-white{
	color: var(--text-white-color);
}
.logo-colored{
	color: #e8617d;
}
.footer-left-content{
	margin-bottom: 50px;
}
.footer-left-content .content{
	margin-top: 15px;
}
.footer-list-wiget .list-group{
	margin-top: 26px;
}
.padding-top-120{
	padding-top: 120px;
}
/*******************************************ELEMENT STYLES*******************************************/
.btn-accent,.btn-primary{
	color: var(--text-light-color);
}
.btn-primary,.background-primary {
  background-color: var(--primary-color);
  color: var(--text-dark-color);
}
.btn-accent,.background-accent {
  background-color: var(--accent-color);
  box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
}

.btn-white,.gradient-white{
	background-image:
    linear-gradient(125deg, var(--text-white-color)fff, #e1e1e1);
    color: #6b6a8b;
}
.border-none{
	border: 0px !important;
}
.rounded-corner{
	border-radius: 50px;
}
.btn-video{
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
    -webkit-user-select: none;
}
.text-center{
	text-align: center;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
}
.shrink-wrapped-center{
	width: fit-content; 
	margin: auto;
	padding: 20px
}
.img-responsive{
	max-width:100%;
}
.text-violat{
	color: #6b6a8b;
}
.padding-top-bottom-120{
	padding-top: 120px;
	padding-bottom: 120px;
}
.padding-top-bottom-90{
	padding-top: 90px;
	padding-bottom: 90px;
}
.padding-all-20{
	padding: 20px
}
.bg-image{
	background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center!important;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.margin-top-30{
	margin-top: 3  0px;
}
.overflow-x-hidden{
	overflow-x: hidden;
}
.bg-fit{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}
.bg-image-fit-50{
	background-repeat: no-repeat !important;
    background-position-x: 100%!important;
    background-size: 50% 100% !important;
}
.btn-navbar{
	line-height: 1;
}
.btn-link i{
	font-size: 18px;
    vertical-align: middle;
}
.btn-video{
	text-transform: uppercase;
	transition: all .5s ease;
}
.btn-video:hover{
	text-decoration: none;
	color: var(--primary-color);
}
.btn.background-accent:hover{
	background-color: var(--primary-color)!important;
	background-image: none!important;
}
.btn-accent.active, .btn-accent:active{
	color: var(--text-white-color);
	background-color: var(--primary-color);
    border:0px;
    border-color: transparent;
}
.btn-primary.active, .btn-primary:active{
	color: var(--text-white-color);
	background-color: var(--accent-color);
    border:0px;
    border-color: transparent;
}
.btn-primary:hover,.btn-white:hover{
	background-color: var(--accent-color);
    border:0px;
    border-color: transparent;
}

.icon-rounded{
	width: 49px;
    height: 49px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--text-white-color);
    vertical-align: middle;
    position: relative;
    margin-right: 5px;
}
.icon-rounded i{
	font-size: 3rem;
	line-height: 30px;
	height:30px;
	width: 30px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

}
/*******************************************BACKGROUND-STYLES****************************************/
.bg-transparent{
	background-color: transparent;
}

.bg-dark-transparent{
	background-color: var(--text-light-color);
}

@media screen and (min-width: 767px) {
	.bg-dark-transparent{
		background-color: var(--bg-dark-transparent-color);
	}
}

.max-width-100{
	max-width: 100% !important;
}
.italic{
	font-style: italic;
}
.blog-category{
	text-transform: uppercase;
	color: var(--primary-color) !important;
	font-weight: 600;
}
.margin-bottom-80{
	margin-bottom: 80px;
}
.margin-bottom-25{
	margin-bottom:25px;
}
.padding-top-90{
	padding-top: 90px;
}
.margin-top-bottom-30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.bordered-ios{
	background-color: transparent;
	border-color: var(--text-white-color);
	border:1px solid;
}

/*******************************************SCROLL TOP ICON*****************************************/
.display-none{
	display: none;
	transition: all .5s ease;
}
.scroll-top-div {
    position: fixed;
    width: 45px;
    height: 45px;
    top: calc(100vh - 70px);
    left: calc(100vw - 62px);
    cursor: pointer;
    transition: all .5s ease;
}
.scroll-top-icon-container{
	position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--text-white-color);
}
.scroll-top-icon-container i{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 28px;
}
/*******************************************OVERLAY*************************************************/
@media screen and (max-width: 767px) {
    .sm-padding-top-bottom-50-75 {
        padding-top: 50px;
        padding-bottom: 75px;
    }
    .testimonial-content{
    	padding:0.5rem 1rem;
    }
    .sm-display-none{
		display: none;
	}
	.image-right-slide-wraper .image-right-slide-content{
		text-align: center;
	}
	.image-right-slide-bg{
		background-image: none!important;
	}
	.image-right-slide-bg{
		padding:4rem 15px;
	}
	.home-slider h2{
		font-size: 1.999rem;
	}
	.home-slider .slider-para{
		font-size: 1rem;
	}
	.padding-top-bottom-120{
		padding-top: 75px;
		padding-bottom: 75px;
	}
	.padding-top-bottom-90{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.padding-top-120{
		padding-top: 75px;
	}
	.padding-top-90{
		padding-top: 60px;
	}
	.card-block{
		padding: 2rem;
	}
	.navbar{
		background-color: var(--primary-color);
	}
	.navbar-divider{
		display: none;
	}
	.navbar-toggle{
		margin-top: 2px;
	}
	.logo-colored img, .logo-white img{
		max-height: 40px;
	}
}
@media screen and (min-width: 769px){
	.image-right-slide-wraper{
		display: table;
		width: 100%;
	}
	.image-right-slide-wraper .image-right-slide-content{
		display: table-cell;
	    vertical-align: middle;
	    float: none;
	}
	.image-right-slide-wraper .image-container{
		float: none;
    	display: table-cell;
	}
}


/***************************************OWL CAROUSEL ******************************************************************/

.owl-theme .owl-controls .owl-page span{
	background: var(--text-white-color);
}
.owl-theme .owl-controls .owl-buttons div{
	font-size: 45px;
	background-color: transparent;
	color: var(--text-white-color);
}
.home-slider .owl-controls{
	position: absolute;
    width: 100%;
    top: calc(50% - 35px);
}
.home-slider .owl-buttons{
	position: relative;
}
.home-slider .owl-prev{
	position: absolute;
	left: 0;
}
.home-slider .owl-next{
	position: absolute;
	right: 0;
}